<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VeloFix</title>
    <script src = "/js/main-script.js" defer> </script>
    <link rel="stylesheet" href="/css/main-style.css">
</head>
<body>

<header>
    <div class="header-inner">
        <div class="logo">
            <a href="/main">
                <img src="/images/VeloFix_Logo_Blue.png" alt="Logo">
            </a>
        </div>
        <nav class="nav">
            <a href="#about">Про нас</a>
            <a href="#services">Послуги</a>
            <a href="#contact">Контакти</a>
        </nav>
        <div class="header-right">

            <div class="dropdown" th:if="${sessionUser != null and (sessionUser.role.name() == 'MANAGER' or sessionUser.role.name() == 'MECHANIC' or sessionUser.role.name() == 'DIRECTOR')}">
                <button class="icon-btn" id="adminBtn">
                    <img src="/images/AdminPanel-icon.png" alt="Admin Panel">
                </button>
                <div class="dropdown-content" id="adminDropdown">
                    <a href="/admin/users">Керування користувачами</a>
                    <a href="/admin/parts">Керування запчастинами</a>
                    <a href="/admin/orders">Керування Замовленнями</a>
                </div>
            </div>


            <div class="notification-wrapper">
                <button class="icon-btn" id="notif-btn">
                    <img src="/images/Notification_icon_blue.png" alt="Notifications">
                </button>
                <div class="notification-dropdown" id="notif-dropdown" style="display: none;">
                    <p>Loading notifications...</p>
                </div>
            </div>

            <button class="icon-btn">
                <a href="/signIn" class="icon-btn">
                    <div class="logo">
                        <img src="/images/Account_icon.png">
                    </div>
                </a>
            </button>

        </div>
    </div>
</header>


<main>
    <div class="main-banner">
        <img src="/images/Main_page_background.png" alt="Bicycle" class="banner-image">
        <div class="banner-text">
            <h1>We fix, you ride</h1>
        </div>
    </div>

    <section class="info-section">

        <section id="about">
            <div class="info-block">
                <h3>Про нас</h3>
                <p>
                    Ласкаво просимо до VeloFIX - вашого надійного велосервісу! Ми спеціалізуємося на високоякісному гарантійному ремонті велосипедів, гарантуючи, що ваш транспорт буде в ідеальному стані на довгі роки. Але ми не зупиняємося на цьому! Ми також пропонуємо платні послуги з ремонту та обслуговування, допомагаючи велосипедистам підтримувати свої велосипеди в ідеальному стані навіть після закінчення гарантійного терміну.<br><br>

                    Наша команда досвідчених механіків займається діагностикою та усуненням усіх типів проблем, від незначних налаштувань до капітального ремонту. Якщо вам потрібне швидке налаштування, регулювання гальм, балансування коліс або повна заміна трансмісії, ми вам допоможемо.<br><br>

                    У VeloFIX ми цінуємо якість, прозорість і задоволеність клієнтів. Ми використовуємо лише високоякісні запчастини та новітні технології ремонту, щоб забезпечити безперебійну та безпечну роботу вашого велосипеда. Незалежно від того, чи ви професійний велосипедист, чи любитель, ми надамо вам найкращий сервіс.
                </p>
            </div>
        </section>

        <section id="services">
            <div class="info-block">
                <h3>Послуги</h3>
                <p>У VeloFIX ми пропонуємо повний спектр послуг з ремонту та обслуговування велосипедів, щоб підтримувати ваш велосипед в ідеальному стані. Незалежно від того, чи потрібен вам гарантійний ремонт або платне обслуговування, наша команда кваліфікованих механіків готова допомогти.</p>
            </div>
        </section>

        <section id="warranty">
            <div class="warranty-section">
                <div class="warranty-card">
                    <h4>Гарантійний ремонт</h4>
                    <p>Якщо ваш велосипед ще на гарантії, ми надаємо безкоштовну діагностику та ремонт у разі виявлення заводського браку. Наші фахівці ретельно оглянуть ваш велосипед, замінять несправні деталі та переконаються, що все працює належним чином.</p>
                </div>
                <div class="warranty-card">
                    <h4>Платний ремонт та обслуговування</h4>
                    <p>Для велосипедів, що вийшли з гарантійного терміну або з питань, на які гарантія не поширюється, ми пропонуємо професійні послуги з ремонту та обслуговування, щоб забезпечити найкращу роботу вашого велосипеда.</p>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="info-block">
                <h3>Зв'яжіться з нами</h3>
                <p>
                    Є питання або потрібен ремонт велосипеда? Зв'яжіться з нами! Незалежно від того, чи вам потрібне гарантійне обслуговування, платне обслуговування або просто порада експерта, ми тут, щоб допомогти. Завітайте до нашої майстерні, зателефонуйте нам, надішліть електронного листа - ми подбаємо про те, щоб ваш велосипед отримав найкращий догляд.
                </p>
                <p>
                    <img src="/images/map.png"> Адреса: Katowice 12, Cycling City, 56789<br>
                    <img src="/images/phone.png"> Телефон: +1 (234) 567-8901<br>
                    <img src="/images/email.png"> Email: support@velofix.com<br>
                    <img src="/images/time.png"> Робочі дні: Пон-Суб: 9:00 AM – 7:00 PM, Нед: Вихідний
                </p>
            </div>
        </section>

    </section>
</main>

<footer class="footer">
    <p class="copyright">
        © VELOFIX — All rights reserved
    </p>
</footer>

</body>
</html>
